.dashboard {
  min-height: 1024px;
  height: 100%;
  padding-top: 200px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  table {
    box-shadow: 1px 1px 10px black;
    padding: 15px;

    .delete-post {
      height: 40px !important;
      width: 100px !important;
    }
  }
}